$primary-color: #0f2027;
$secondary-color: #2c5364;

// Ensure the page takes full height
html,
body,
.app-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-container {
  flex: 1; // Take up the remaining space, pushing the footer to the bottom
}

.footer {
  background: linear-gradient(135deg, $primary-color, $secondary-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;
  width: 100%;

  .footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;

    .footer-section {
      flex: 1;
      min-width: 150px;
      margin: 10px 0;

      h5 {
        font-size: 18px;
        margin-bottom: 15px;
        color: #f9a825;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 5px 0;
          a {
            color: #ccc;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: #f9a825;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #555;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 14px;
  }
}
