$primary-color: #0f2027;
$secondary-color: #2c5364;
$text-color: #fff;
$accent-color: #f4b41a;
.servicesBody {
  background: linear-gradient(135deg, $primary-color, $secondary-color);
}
.servicesContainer {
  padding-top: 80px;
  height: 100vh;
  p {
    color: white;
  }
}
